<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${Comment_postDTO.title}]]</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<style>
    .container-custom {
        max-width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 3%;
        background-color: #e3f2fd;
    }
</style>
<body>

<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/">主页</a>
    <div class="collapse navbar-collapse mx-5" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="想搜些什么呢" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
        </form>
    </div>
    <div class="collapse navbar-collapse text-right border-right-0" style="margin-left: 60%" >
        <ul class="navbar-nav ">
            <tr th:if="${session.user == null}">
                <li class="nav-item active"  >
                    <a class="navbar-brand" style="size: 6px" href="../../login">未登录</a>
                </li>
            </tr>
            <tr th:if="${session.user != null}">
                <li class="nav-item dropdown">
                    <div class="dropdown">
                        <button th:text="${session.user.getU_name()}" class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <th:block th:switch="${session.user.getU_authority()}">
                                <a class="dropdown-item disabled" th:case="0">权限:普通用户</a>
                                <a class="dropdown-item disabled" th:case="1">权限:管理员</a>
                                <a class="dropdown-item disabled" th:case="2">权限:站长</a>
                            </th:block>
                            <a class="dropdown-item" href="../../profile/posts">个人中心</a>
                            <a class="dropdown-item" href="../../publish">发帖</a>
                            <div class="dropdown-divider"></div>
                            <th:block th:if="${session.user.getU_authority()} ge 1">
                                <a class="dropdown-item" href="#">添加板块</a>
                                <div class="dropdown-divider"></div>
                            </th:block>
                            <th:block th:if="${session.user.getU_authority()} ge 2">
                                <a class="dropdown-item" href="">用户管理</a>
                                <div class="dropdown-divider"></div>
                            </th:block>
                            <a class="dropdown-item" href="../../loginOut">退出登录</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item" style="margin-left: 5px" th:if="${session.user.getU_touxiang() == null}">
                    <img src="../../image/akalin.png" class="img-circle" width="40" height="40">
                </li>
                <li class="nav-item" style="margin-left: 5px" th:if="${session.user.getU_touxiang() != null}">
                    <img th:src="@{'../../image/'+${session.user.getU_touxiang()}}" class="img-circle" width="40" height="40">
                </li>
            </tr>
            </li>
        </ul>
    </div>

</nav>
<div class="container-custom">
<div class="row">
    <div class="col"></div>
    <div class="col-10" >
        <h4 class="mt-0">[ [[${zone}]] ]|<a th:href="@{'/post/'+${Comment_postDTO.block}}">[ [[${Comment_postDTO.block}]] ]</a> [[${Comment_postDTO.title}]]</h4>
        <!--分隔线-->
        <div class="dropdown-divider" style="border-top: 1px solid black;"></div>
        <div class="media" style="margin-left: 10px;height:auto">
            <img  width="50" height="50" th:if="${Comment_postDTO.user.getU_touxiang() != null}"  th:src="@{'../../image/'+${Comment_postDTO.user.getU_touxiang()}}" class="align-self-start mr-3">
            <img  width="50" height="50" th:if="${Comment_postDTO.user.getU_touxiang() == null}"  src="../../image/akalin.png" class="align-self-start mr-3">
            <div class="media-body">
                <h5 th:text="${Comment_postDTO.user.u_name}"></h5>
                <pre style="white-space: pre-wrap" th:text="${Comment_postDTO.content}"></pre>
                <div>
                    <img th:if="${Comment_postDTO.img != null}" th:src="@{'../../image/'+${Comment_postDTO.img}}" style="max-height: 400px;max-width: 400px;image-align:center;">
                </div>

            </div>
            <span style="float: right;color: #10707f;font-size: 4px">发布时间:[[${#dates.format(Comment_postDTO.release_time,'yyyy-MM-dd HH:mm')}]]</span>
        </div>
        <div class="dropdown-divider" style="border-top: 1px solid black;"></div>
            <div id="comment_section">
                <div class="media" style="margin-left: 10px;height:auto">
                    <input type="hidden" id="post_id" th:value="${session.user.getU_id()}">
                    <img  width="50" height="50" th:if="${session.user.getU_touxiang() != null}"  th:src="@{'../../image/'+${Comment_postDTO.user.getU_touxiang()}}" class="align-self-start mr-3">
                    <img  width="50" height="50" th:if="${session.user.getU_touxiang() == null}"  src="../../image/akalin.png" class="align-self-start mr-3">
                    <div class="media-body">
                        <h5 th:text="${session.user.getU_name()}"></h5>
                        <textarea class="form-control" id="comment_content" rows="5"></textarea>

                    </div>

                </div>
                <button style="margin-top: -70px" type="button" onclick="post()" class="btn btn-light">回复</button>
            </div>
    </div>
    <div class="col" >

    </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function post(){
        var post_id = $("#post_id").val();
        var content = $("#comment_content").val();
        $.ajax({
            type: "POST",
            url: "/comment",
            contentType: 'application/json',
            data: JSON.stringify({
                "parentId": post_id,
                "content": content,
                "type": 1
            }),
            success:function (response){
                if (response.code == 200){
                    alert(response.message);
                    $("#comment_section").hide();
                }else {
                    alert("错误");
                }
                console.log(response.message);
            }
        });
    }

</script>
</body>
</html>